## 파이썬의 철학

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## print (출력)

- 첫 단원에서는 **기본 print() 의 출력**만 배웁니다.
- 향후 실습 진행을 위한 정도만 배우고, 나중에 문자열 포맷팅에서 더 자세히 다룹니다.

In [2]:
print('오늘 파이썬 배우기 좋은 날이네!')

오늘 파이썬 배우기 좋은 날이네!

In [3]:
print("오늘은", "일요일")

오늘은 일요일

In [4]:
print(1, 2, 3, 4)

1 2 3 4

**Jupyter Notebook** 셀에서 맨 끝에 위치한 변수, 문자열, 숫자등은 자동으로 출력합니다.

3.14, '안녕', 100 이렇게 3개의 값이 있지만, 항상 가장 마지막만 출력됩니다.`ㅡ

In [5]:
3.14
'안녕'
100

100

# 변수 (Variable)

변수는 **데이터를 담는 그릇**이라고 생각하시면 됩니다.

변수라는 그릇에 정수를 담을 수도 있고, 긴 글을 담을 수도 있고, file을 담을 수도 있습니다. 우리가 재사용 하기 쉽게 **별명**을 지정해 줬다라고 쉽게 생각하시기 바랍니다.

## 변수의 이름 규칙 (Rule)

다음의 **문자만 사용**할 수 있습니다.
- 소문자(a~z)
- 대문자(A~Z)
- 숫자(0~9)
- 한글도 가능
- 특수기호는 언더바(_) 만 허용

다음의 **규칙**을 가집니다.
- 대소 문자를 구분합니다.
- 숫자는 맨 처음에 올 수 없습니다. 
- 예약어(keyword)는 사용할 수 없습니다. (def, if, del, import, return 등등)

case 1. 알파벳 (가능) / 대소문자 모두 가능 /심지어 **한글도 가능하나 사용하는 것은 비추**!

In [6]:
a = 1

In [7]:
A = 1

In [8]:
변수 = 1

In [9]:
변수

1

case 2. 알파벳 + 숫자 (가능)

In [10]:
a1 = 1

case 3. 알파벳 + 언더바(_) (가능)

In [11]:
a_ = 1

case 4. 언더바(_) + 알파벳 (가능))

In [12]:
_a = 1

case 5. 숫자 + 알파벳 (불가능)

In [13]:
1a = 1

SyntaxError: invalid syntax (<ipython-input-13-cc67e5ecf289>, line 1)

case 6. 특수문자 (불가능)

In [14]:
* = 7

SyntaxError: invalid syntax (<ipython-input-14-e21efa324dba>, line 1)

case 7. 언더바를 제외한 특수문자 (불가능)

In [15]:
a$ = 6

SyntaxError: invalid syntax (<ipython-input-15-7b68e0211941>, line 1)

case 8. 변수의 이름 사이의 공백 (불가능)

In [16]:
a b = 6

SyntaxError: invalid syntax (<ipython-input-16-38dc6d48d57b>, line 1)

주로 변수는 **소문자 알파벳으로 생성**하고, 필요시 **언더바**나 **숫자를 붙히는 방식**이 일반적입니다.

In [17]:
test = 10

In [18]:
test01 = 20

In [19]:
test_01 = 30

## 데이터 타입 (Data Type)

자료형태(자료형), 자료구조라고도 불리웁니다.

**주요 데이터 타입(type)**

1. `int` (정수): Integer(정수)의 약어이며, 정수를 나타내는 자료형입니다.
2. `float` (실수): Floating point의 약어이며, 소수점이 있는 숫자를 나타내는 자료형입니다.
3. `str` (문자열): 문자를 나타내는 자료형입니다. 작은 따옴표 혹은 큰 따옴표로 감싸져 있습니다.
4. `bool` (참/거짓): 참 또는 거짓을 나타내는 자료형입니다. True, False에서 T와 F는 반드시 대문자로 표기해야 합니다.

### type()

type 함수를 활용하여 데이터의 타입을 알아 볼 수 있습니다.

In [20]:
type(1)

int

In [21]:
type(3.14)

float

In [22]:
type("안녕")

str

In [23]:
type(True)

bool

## int (정수)

Integer(정수)의 약어이며, 정수를 나타내는 자료형입니다.

In [24]:
a = 1

In [25]:
print(a)

1

**type 확인**

In [26]:
type(a)

int

## float (실수)

Floating point의 약어이며, 소수점이 있는 숫자를 나타내는 자료형입니다.

In [27]:
a = 3.14

In [28]:
print(a)

3.14

**type 확인**

In [29]:
type(a)

float

## str (문자열)

문자를 나타내는 자료형입니다. 작은 따옴표 혹은 큰 따옴표로 감싸져 있습니다.

**작은 따옴표 '  '** 사이에 문자를 입력한 경우

In [30]:
word = '안녕하세요'

In [31]:
word

'안녕하세요'

**type 확인**

In [32]:
type(word)

str

**큰 따옴표 "  "** 사이에 문자를 입력한 경우

In [33]:
word = "안녕하세요"

In [34]:
word

'안녕하세요'

**여러 줄에 입력하고 싶을 때는 어떻게 해야하나요?**

**작은 따옴표 '''  '''** 3개를 연속해서 사용한 경우

- 작은 따옴표나 큰 따옴표 3개를 연속해서 사용시 여러 줄에 나누어 문장을 입력할 수 있습니다.

In [35]:
word = '''안녕하세요
반
갑
습
니다.
'''

In [36]:
print(word)

안녕하세요
반
갑
습
니다.

**큰 따옴표 """  """** 3개를 연속해서 사용한 경우

In [37]:
word = """안녕하세요
반
갑
습
니다.
"""

In [38]:
print(word)

안녕하세요
반
갑
습
니다.

**type 확인**

In [39]:
type(word)

str

## bool (참/거짓)

참 또는 거짓을 나타내는 자료형입니다. True, False에서 T와 F는 **반드시 대문자로 표기**해야 합니다.

In [40]:
a = False

In [41]:
print(a)

False

**type 확인**

In [42]:
type(False)

bool

* 정수 1은 `True`
* 정수 0은 `False`

비교 연산자는 추후에 배우게 됩니다.

파이썬에서는 **"같다"** 비교를 **"=="** 기호로 합니다.

In [43]:
1 == True

True

In [44]:
0 == False

True

**type 확인**

In [45]:
type(True)

bool

## 아무것도 아닌 None 타입

말 그래도 아무 것도 아닌 흔히 Null 값을 넣는다고도 합니다.

사전상 의미는<br>
* **Null: Nullify (무효화하다)**
라는 뜻을 가지고 있다네요~

python에서는 **None** 입니다!

In [46]:
a = None

**type 확인**

In [47]:
type(a)

NoneType

In [48]:
print(a)

None

# 타입 변환

`int`를 `float`로 변환한 경우

In [49]:
a = 1

In [50]:
type(a)

int

In [51]:
float(a)

1.0

`float`를 `int`로 변환한 경우

- float를 int로 변환시 반올림이 아닌 값이 버림되어 집니다. (소수점 이하 절삭)

In [52]:
b = 3.99

In [53]:
int(b)

3

`bool`을 `int`로 변환한 경우

In [54]:
c = True

In [55]:
int(c)

1

In [56]:
d = False

In [57]:
int(d)

0

`bool`을 `float`로 변환한 경우

In [58]:
float(True)

1.0

파이썬에서 **0이 아닌 값은 모두 True로 간주**한다.

In [59]:
bool(1)

True

In [60]:
bool(-10)

True

In [61]:
bool(3.14)

True

In [62]:
bool(0)

False

In [63]:
bool(0.0)

False