In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [2]:
train = pd.read_csv('data/train_set.csv')
test = pd.read_csv('data/test_set.csv')

In [3]:
train.head()

,tube_assembly_id,supplier,quote_date,annual_usage,min_order_quantity,bracket_pricing,quantity,cost
0,TA-00002,S-0066,2013-07-07,0,0,Yes,1,21.905933
1,TA-00002,S-0066,2013-07-07,0,0,Yes,2,12.341214
2,TA-00002,S-0066,2013-07-07,0,0,Yes,5,6.601826
3,TA-00002,S-0066,2013-07-07,0,0,Yes,10,4.687770
4,TA-00002,S-0066,2013-07-07,0,0,Yes,25,3.541561

In [4]:
all_data = pd.concat([train, test], sort=False)

In [5]:
all_data.head()

,tube_assembly_id,supplier,quote_date,annual_usage,min_order_quantity,bracket_pricing,quantity,cost,id
0,TA-00002,S-0066,2013-07-07,0,0,Yes,1,21.905933,NaN
1,TA-00002,S-0066,2013-07-07,0,0,Yes,2,12.341214,NaN
2,TA-00002,S-0066,2013-07-07,0,0,Yes,5,6.601826,NaN
3,TA-00002,S-0066,2013-07-07,0,0,Yes,10,4.687770,NaN
4,TA-00002,S-0066,2013-07-07,0,0,Yes,25,3.541561,NaN

In [6]:
right = all_data.groupby('tube_assembly_id')['quantity'].mean().reset_index().rename({'quantity':'quantity_mean'}, axis=1)
right.head()

  tube_assembly_id  quantity_mean
0         TA-00001         55.375
1         TA-00002         55.375
2         TA-00003         55.375
3         TA-00004         55.375
4         TA-00005         55.375

In [7]:
all_data = pd.merge(all_data, right, how='left')

In [8]:
right = all_data.groupby('tube_assembly_id')['quantity'].median().reset_index().rename({'quantity':'quantity_median'}, axis=1)
right.head()

  tube_assembly_id  quantity_median
0         TA-00001             17.5
1         TA-00002             17.5
2         TA-00003             17.5
3         TA-00004             17.5
4         TA-00005             17.5

In [9]:
all_data = pd.merge(all_data, right, how='left')

In [10]:
right = all_data.groupby('tube_assembly_id')['quantity'].std().reset_index().rename({'quantity':'quantity_std'}, axis=1)
right.head()

  tube_assembly_id  quantity_std
0         TA-00001     85.543535
1         TA-00002     85.543535
2         TA-00003     85.543535
3         TA-00004     85.543535
4         TA-00005     85.543535

In [11]:
all_data = pd.merge(all_data, right, how='left')

In [12]:
# right = all_data.groupby('tube_assembly_id')['quantity'].count().reset_index().rename({'quantity':'quantity_count'}, axis=1)
# right.head()

In [13]:
# all_data = pd.merge(all_data, right, how='left')

In [14]:
right = all_data.groupby('tube_assembly_id')['quantity'].sum().reset_index().rename({'quantity':'quantity_sum'}, axis=1)
right.head()

  tube_assembly_id  quantity_sum
0         TA-00001           443
1         TA-00002           443
2         TA-00003           443
3         TA-00004           443
4         TA-00005           443

In [15]:
all_data = pd.merge(all_data, right, how='left')

## Dropping id

In [16]:
all_data = all_data.drop('id', 1)

In [17]:
all_data.head()

,tube_assembly_id,supplier,quote_date,annual_usage,min_order_quantity,bracket_pricing,quantity,cost,quantity_mean,quantity_median,quantity_std,quantity_sum
0,TA-00002,S-0066,2013-07-07,0,0,Yes,1,21.905933,55.375,17.5,85.543535,443
1,TA-00002,S-0066,2013-07-07,0,0,Yes,2,12.341214,55.375,17.5,85.543535,443
2,TA-00002,S-0066,2013-07-07,0,0,Yes,5,6.601826,55.375,17.5,85.543535,443
3,TA-00002,S-0066,2013-07-07,0,0,Yes,10,4.687770,55.375,17.5,85.543535,443
4,TA-00002,S-0066,2013-07-07,0,0,Yes,25,3.541561,55.375,17.5,85.543535,443

In [18]:
all_data['quote_date'] = pd.to_datetime(all_data['quote_date'])

In [19]:
all_data['quote_date_month'] = all_data['quote_date'].dt.month
all_data['quote_date_year'] = all_data['quote_date'].dt.year
all_data['quote_date_day'] = all_data['quote_date'].dt.day
all_data['quote_date_dayofweek'] = all_data['quote_date'].dt.dayofweek

In [20]:
all_data.head()

,tube_assembly_id,supplier,quote_date,annual_usage,min_order_quantity,bracket_pricing,quantity,cost,quantity_mean,quantity_median,quantity_std,quantity_sum,quote_date_month,quote_date_year,quote_date_day,quote_date_dayofweek
0,TA-00002,S-0066,2013-07-07,0,0,Yes,1,21.905933,55.375,17.5,85.543535,443,7,2013,7,6
1,TA-00002,S-0066,2013-07-07,0,0,Yes,2,12.341214,55.375,17.5,85.543535,443,7,2013,7,6
2,TA-00002,S-0066,2013-07-07,0,0,Yes,5,6.601826,55.375,17.5,85.543535,443,7,2013,7,6
3,TA-00002,S-0066,2013-07-07,0,0,Yes,10,4.687770,55.375,17.5,85.543535,443,7,2013,7,6
4,TA-00002,S-0066,2013-07-07,0,0,Yes,25,3.541561,55.375,17.5,85.543535,443,7,2013,7,6

## Import Other Files

In [21]:
tube = pd.read_csv('data/tube.csv')
specs = pd.read_csv('data/specs.csv')

In [22]:
print(tube.shape)
tube.head()

(21198, 16)

,tube_assembly_id,material_id,diameter,wall,length,num_bends,bend_radius,end_a_1x,end_a_2x,end_x_1x,end_x_2x,end_a,end_x,num_boss,num_bracket,other
0,TA-00001,SP-0035,12.70,1.65,164.0,5,38.10,N,N,N,N,EF-003,EF-003,0,0,0
1,TA-00002,SP-0019,6.35,0.71,137.0,8,19.05,N,N,N,N,EF-008,EF-008,0,0,0
2,TA-00003,SP-0019,6.35,0.71,127.0,7,19.05,N,N,N,N,EF-008,EF-008,0,0,0
3,TA-00004,SP-0019,6.35,0.71,137.0,9,19.05,N,N,N,N,EF-008,EF-008,0,0,0
4,TA-00005,SP-0029,19.05,1.24,109.0,4,50.80,N,N,N,N,EF-003,EF-003,0,0,0

In [23]:
tube['tube_assembly_id'].nunique()

21198

In [24]:
all_data.head()

,tube_assembly_id,supplier,quote_date,annual_usage,min_order_quantity,bracket_pricing,quantity,cost,quantity_mean,quantity_median,quantity_std,quantity_sum,quote_date_month,quote_date_year,quote_date_day,quote_date_dayofweek
0,TA-00002,S-0066,2013-07-07,0,0,Yes,1,21.905933,55.375,17.5,85.543535,443,7,2013,7,6
1,TA-00002,S-0066,2013-07-07,0,0,Yes,2,12.341214,55.375,17.5,85.543535,443,7,2013,7,6
2,TA-00002,S-0066,2013-07-07,0,0,Yes,5,6.601826,55.375,17.5,85.543535,443,7,2013,7,6
3,TA-00002,S-0066,2013-07-07,0,0,Yes,10,4.687770,55.375,17.5,85.543535,443,7,2013,7,6
4,TA-00002,S-0066,2013-07-07,0,0,Yes,25,3.541561,55.375,17.5,85.543535,443,7,2013,7,6

In [25]:
all_merge = pd.merge(all_data, tube, on='tube_assembly_id', how='left')

In [26]:
all_merge.head()

,tube_assembly_id,supplier,quote_date,annual_usage,min_order_quantity,bracket_pricing,quantity,cost,quantity_mean,quantity_median,...,bend_radius,end_a_1x,end_a_2x,end_x_1x,end_x_2x,end_a,end_x,num_boss,num_bracket,other
0,TA-00002,S-0066,2013-07-07,0,0,Yes,1,21.905933,55.375,17.5,...,19.05,N,N,N,N,EF-008,EF-008,0,0,0
1,TA-00002,S-0066,2013-07-07,0,0,Yes,2,12.341214,55.375,17.5,...,19.05,N,N,N,N,EF-008,EF-008,0,0,0
2,TA-00002,S-0066,2013-07-07,0,0,Yes,5,6.601826,55.375,17.5,...,19.05,N,N,N,N,EF-008,EF-008,0,0,0
3,TA-00002,S-0066,2013-07-07,0,0,Yes,10,4.687770,55.375,17.5,...,19.05,N,N,N,N,EF-008,EF-008,0,0,0
4,TA-00002,S-0066,2013-07-07,0,0,Yes,25,3.541561,55.375,17.5,...,19.05,N,N,N,N,EF-008,EF-008,0,0,0

## Bill of Materials

In [27]:
bill_of_materials = pd.read_csv('data/bill_of_materials.csv')

In [28]:
bill_of_materials.head()

,tube_assembly_id,component_id_1,quantity_1,component_id_2,quantity_2,component_id_3,quantity_3,component_id_4,quantity_4,component_id_5,quantity_5,component_id_6,quantity_6,component_id_7,quantity_7,component_id_8,quantity_8
0,TA-00001,C-1622,2.0,C-1629,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TA-00002,C-1312,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TA-00003,C-1312,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TA-00004,C-1312,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TA-00005,C-1624,1.0,C-1631,1.0,C-1641,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
all_merge.head()

,tube_assembly_id,supplier,quote_date,annual_usage,min_order_quantity,bracket_pricing,quantity,cost,quantity_mean,quantity_median,...,bend_radius,end_a_1x,end_a_2x,end_x_1x,end_x_2x,end_a,end_x,num_boss,num_bracket,other
0,TA-00002,S-0066,2013-07-07,0,0,Yes,1,21.905933,55.375,17.5,...,19.05,N,N,N,N,EF-008,EF-008,0,0,0
1,TA-00002,S-0066,2013-07-07,0,0,Yes,2,12.341214,55.375,17.5,...,19.05,N,N,N,N,EF-008,EF-008,0,0,0
2,TA-00002,S-0066,2013-07-07,0,0,Yes,5,6.601826,55.375,17.5,...,19.05,N,N,N,N,EF-008,EF-008,0,0,0
3,TA-00002,S-0066,2013-07-07,0,0,Yes,10,4.687770,55.375,17.5,...,19.05,N,N,N,N,EF-008,EF-008,0,0,0
4,TA-00002,S-0066,2013-07-07,0,0,Yes,25,3.541561,55.375,17.5,...,19.05,N,N,N,N,EF-008,EF-008,0,0,0

In [30]:
print(all_merge.shape)

(60448, 31)

In [31]:
all_merge = pd.merge(all_merge, bill_of_materials, on='tube_assembly_id', how='left')

In [32]:
all_merge.shape

(60448, 47)

In [33]:
specs = pd.read_csv('data/specs.csv')

In [34]:
specs.head()

,tube_assembly_id,spec1,spec2,spec3,spec4,spec5,spec6,spec7,spec8,spec9,spec10
0,TA-00001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TA-00002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TA-00003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TA-00004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TA-00005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
all_merge = pd.merge(all_merge, specs, on='tube_assembly_id', how='left')

In [36]:
all_merge.shape

(60448, 57)

In [37]:
cat_col = all_merge.select_dtypes(include='object').columns

In [38]:
all_merge[cat_col] = all_merge[cat_col].fillna('None')

In [39]:
int_col = all_merge.select_dtypes(exclude='object').columns

In [40]:
all_merge[int_col] = all_merge[int_col].fillna(-1)

In [41]:
# all_merge.info()

In [42]:
cat_cols = all_merge.select_dtypes(include='object')

In [43]:
for col in cat_cols:
    all_merge[col] = all_merge[col].astype('category').cat.codes

In [44]:
# all_merge.nunique()

In [46]:
all_merge = all_merge.drop('quote_date', 1)

KeyError: "['quote_date'] not found in axis"

In [47]:
all_merge.shape

(60448, 56)

## Build Model

In [48]:
train = all_merge[:len(train)]
test = all_merge[len(train):]

In [49]:
x_train = train.drop('cost', 1)
y_train = train['cost']
x_test = test.drop('cost', 1)

In [50]:
def make_csv_file(prediction):
    submission = pd.read_csv('sample_submission.csv')
    submission['cost'] = prediction
    timestring = datetime.datetime.now().strftime("%m%d_%H-%M-%S")
    filename = 'submission/Caterpillar-{0}.csv'.format(timestring)
    submission.to_csv(filename, index=False)
    return filename

In [51]:
from sklearn.model_selection import KFold
from sklearn.preprocessing import RobustScaler
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.linear_model import RidgeCV, LassoCV, ElasticNetCV
from mlxtend.regressor import StackingCVRegressor

In [52]:
class Model():
    def __init__(self, name, model):
        self.name = name
        self.model = model
        
    def set_params(self, params):
        self.params = params
        self.model.set_params(**params)
        
    def get_params(self):
        return self.model.get_params()
    
    def get_model(self):
        return self.model
    
    def get_name(self):
        return self.name
    
    def fit_predict(self, x_train, y_train, x_test):
        return self.model.fit(x_train, y_train).predict(x_test)

In [53]:
class ML():
    def __init__(self, x_train, y_train, x_test, models):
        self.x_train = x_train
        self.y_train = y_train
        self.x_test = x_test
        self.models = models
        
    def get_score(self, model):
        x_tr, x_te, y_tr, y_te = train_test_split(self.x_train, self.y_train)
        pred = model.fit_predict(x_tr, y_tr, x_te)
        return np.sqrt(np.power( (np.log(pred+1) - np.log(y_te+1)), 2).mean())
        
    def make_prediction(self):
        target = np.power(self.y_train, 1/32)
        predictions = {}
        scores = {}
        for model in models:
            pred = model.fit_predict(self.x_train, target, x_test)
            pred = np.power(pred, 32)
            predictions[model.get_name()] = pred
            scores[model.get_name()] = self.get_score(model)
        return predictions, scores
    
    def get_models(self):
        return self.models

In [54]:
DEBUG_SETTING = False

In [55]:
xgb = Model('xgb', XGBRegressor())

In [56]:
xgb_params = {
    'colsample_bytree': 0.8,
    'gamma': 0,
    'learning_rate': 0.01,
    'max_depth': 6,
    'min_child_weight': 1,
    'n_estimators': 5000,
    'random_state': 30,
    'reg_alpha': 0,
    'reg_lambda': 1,
    'subsample': 0.8,
    'tree_method': 'gpu_hist',
    'verbose': 1,
}

In [57]:
xgb_params_debug = {
    'colsample_bytree': 0.8,
    'gamma': 0,
    'learning_rate': 0.1,
    'max_depth': 6,
    'min_child_weight': 1,
    'n_estimators': 500,
    'random_state': 30,
    'reg_alpha': 0,
    'reg_lambda': 1,
    'subsample': 0.8,
    'tree_method': 'gpu_hist',
    'verbose': 1,
}

In [58]:
if DEBUG_SETTING:
    xgb.set_params(xgb_params_debug)
else:
    xgb.set_params(xgb_params)

In [59]:
lgbm = Model('lgbm', LGBMRegressor())

In [60]:
lgbm_params = {
    'boosting_type': 'gbdt',
    'colsample_bytree': 0.6,
    'learning_rate': 0.01,
    'n_estimators': 7500,
    'n_jobs': -1,
    'num_leaves': 77,
    'random_state': 30,
    'reg_alpha': 0.0,
    'reg_lambda': 0.0,
    'subsample': 0.7,
    'subsample_freq': 0,
    'verbose': 1,
}

In [61]:
lgbm_params_bebug = {
    'boosting_type': 'gbdt',
    'colsample_bytree': 0.6,
    'learning_rate': 0.1,
    'n_estimators': 750,
    'n_jobs': -1,
    'num_leaves': 77,
    'random_state': 30,
    'reg_alpha': 0.0,
    'reg_lambda': 0.0,
    'subsample': 0.7,
    'subsample_freq': 0,
    'verbose': 1,
}

In [62]:
if DEBUG_SETTING:
    lgbm.set_params(lgbm_params_bebug)
else:
    lgbm.set_params(lgbm_params)

In [63]:
gbr = Model('gbr', GradientBoostingRegressor())

In [64]:
gbr_params ={
    'alpha': 0.9,
    'learning_rate': 0.01,
    'max_depth': 6,
    'max_features': None,
    'max_leaf_nodes': None,
    'min_samples_leaf': 1,
    'min_samples_split': 2,
    'min_weight_fraction_leaf': 0.0,
    'n_estimators': 7500,
    'random_state': 30,
    'subsample': 0.7,
    'verbose': 1,
}

In [65]:
gbr_params_debug ={
    'alpha': 0.9,
    'learning_rate': 0.1,
    'max_depth': 6,
    'max_features': None,
    'max_leaf_nodes': None,
    'min_samples_leaf': 1,
    'min_samples_split': 2,
    'min_weight_fraction_leaf': 0.0,
    'n_estimators': 750,
    'random_state': 30,
    'subsample': 0.7,
    'verbose': 1,
}

In [66]:
if DEBUG_SETTING:
    gbr.set_params(gbr_params_debug)
else:
    gbr.set_params(gbr_params)

In [59]:
models = [
    xgb,
#     lgbm,
#     gbr,
]

In [66]:
xgb_params_test = {
    'colsample_bytree': 0.8,
    'gamma': 0,
    'learning_rate': 0.01,
    'max_depth': 6,
    'min_child_weight': 1,
    'n_estimators': 5000,
    'random_state': 30,
    'reg_alpha': 0,
    'reg_lambda': 1,
    'subsample': 0.8,
#     'tree_method': 'gpu_hist',
    'verbose': 1,
    'n_jobs': -1,
}
xgb = XGBRegressor(**xgb_params_test)
%time xgb.fit(x_train, y_train)

CPU times: user 3min 40s, sys: 101 ms, total: 3min 40s
Wall time: 3min 40s

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.8, gamma=0,
             importance_type='gain', learning_rate=0.01, max_delta_step=0,
             max_depth=6, min_child_weight=1, missing=None, n_estimators=5000,
             n_jobs=-1, num_parallel_tree=1, objective='reg:squarederror',
             random_state=30, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             subsample=0.8, tree_method='auto', verbose=1, verbosity=1)

In [67]:
xgb_params_test = {
    'colsample_bytree': 0.8,
    'gamma': 0,
    'learning_rate': 0.01,
    'max_depth': 6,
    'min_child_weight': 1,
    'n_estimators': 5000,
    'random_state': 30,
    'reg_alpha': 0,
    'reg_lambda': 1,
    'subsample': 0.8,
    'tree_method': 'gpu_hist',
    'verbose': 1,
}
xgb = XGBRegressor(**xgb_params_test)
%time xgb.fit(x_train, y_train)

CPU times: user 16.9 s, sys: 4.24 s, total: 21.1 s
Wall time: 21.1 s

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.8, gamma=0,
             importance_type='gain', learning_rate=0.01, max_delta_step=0,
             max_depth=6, min_child_weight=1, missing=None, n_estimators=5000,
             n_jobs=1, num_parallel_tree=1, objective='reg:squarederror',
             random_state=30, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             subsample=0.8, tree_method='gpu_hist', verbose=1, verbosity=1)

In [60]:
ml = ML(x_train, y_train, x_test, models)

In [61]:
predictions, scores = ml.make_prediction()

/home/teddylee777/anaconda3/envs/kaggle/lib/python3.6/site-packages/ipykernel_launcher.py:11: RuntimeWarning: invalid value encountered in log
  # This is added back by InteractiveShellApp.init_path()

In [63]:
predictions

{'xgb': array([22.926594 , 12.937021 ,  7.220921 , ...,  7.6146812, 24.625202 ,
        29.080421 ], dtype=float32)}

In [70]:
kf = KFold(random_state=30, 
           n_splits=10, 
           shuffle=True)

In [71]:
alphas_alt = [14.5, 14.6, 14.7, 14.8, 14.9, 15, 15.1, 15.2, 15.3, 15.4, 15.5]
alphas2 = [5e-05, 0.0001, 0.0002, 0.0003, 0.0004, 0.0005, 0.0006, 0.0007, 0.0008]
e_alphas = [0.0001, 0.0002, 0.0003, 0.0004, 0.0005, 0.0006, 0.0007]
e_l1ratio = [0.8, 0.85, 0.9, 0.95, 0.99, 1]

In [72]:
ridgeCV = make_pipeline(RobustScaler(), RidgeCV(alphas=alphas_alt, cv=kf))
lassoCV = make_pipeline(RobustScaler(), LassoCV(max_iter=1e7, alphas=alphas2, random_state=42, cv=kf))
elasticnetCV = make_pipeline(RobustScaler(), ElasticNetCV(max_iter=1e7, alphas=e_alphas, cv=kf, l1_ratio=e_l1ratio, random_state=42))

In [ ]:
ridgeCV.fit(x_train, y_train).predict(x_test)

{'xgb': 0.2799994133318493,
 'lgbm': 0.2714832846528624,
 'gbr': 0.27598982227869184}

{'xgb': 0.26419265635073735,
 'lgbm': 0.28582583217392926,
 'gbr': 0.26573342505871933}

In [ ]:
# pd.DataFrame(list(zip(x_train.columns, ml.get_models()[2].get_model().feature_importances_))).sort_values(1, ascending=False)

In [78]:
y_train_log = np.power(y_train, 1/32)

In [79]:
ridgeCV_pred = ridgeCV.fit(x_train, y_train_log).predict(x_test)
lassoCV_pred = lassoCV.fit(x_train, y_train_log).predict(x_test)
elasticnetCV_pred = elasticnetCV.fit(x_train, y_train_log).predict(x_test)

In [81]:
ridgeCV_pred = np.power(ridgeCV_pred, 32)
lassoCV_pred = np.power(lassoCV_pred, 32)
elasticnetCV_pred = np.power(elasticnetCV_pred, 32)

/home/teddylee777/anaconda3/envs/kaggle/lib/python3.6/site-packages/ipykernel_launcher.py:1: RuntimeWarning: overflow encountered in power
  """Entry point for launching an IPython kernel.
/home/teddylee777/anaconda3/envs/kaggle/lib/python3.6/site-packages/ipykernel_launcher.py:2: RuntimeWarning: overflow encountered in power

/home/teddylee777/anaconda3/envs/kaggle/lib/python3.6/site-packages/ipykernel_launcher.py:3: RuntimeWarning: overflow encountered in power
  This is separate from the ipykernel package so we can avoid doing imports until

In [101]:
def get_score(model, data, target):
    target = np.power(target, 1/32)
    x_tr, x_te, y_tr, y_te = train_test_split(data, target)
    pred = model.fit(x_tr, y_tr).predict(x_te)
    pred = np.power(pred, 32)
    y_te = np.power(y_te, 32)
    print(pred)
    print(y_te)
    return np.sqrt(np.power( (np.log(+1) - np.log(y_te+1)), 2).mean())

In [104]:
reg = RandomForestRegressor(n_estimators=1000)

In [107]:
xgb_reg = XGBRegressor()

In [110]:
xgb_reg.set_params(**xgb_params)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.8, gamma=0,
             importance_type='gain', learning_rate=0.01, max_delta_step=0,
             max_depth=6, min_child_weight=1, missing=None, n_estimators=5000,
             n_jobs=1, num_parallel_tree=1, objective='reg:squarederror',
             random_state=30, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             subsample=0.8, tree_method='gpu_hist', verbose=1, verbosity=1)

In [111]:
xgb_reg

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.8, gamma=0,
             importance_type='gain', learning_rate=0.01, max_delta_step=0,
             max_depth=6, min_child_weight=1, missing=None, n_estimators=5000,
             n_jobs=1, num_parallel_tree=1, objective='reg:squarederror',
             random_state=30, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             subsample=0.8, tree_method='gpu_hist', verbose=1, verbosity=1)

In [112]:
get_score(xgb_reg, x_train, y_train)

[ 5.387868  23.497044   5.030663  ...  6.5637116  2.9200695  5.48307  ]
947       5.333207
15220    27.943001
13586     4.771231
2534      3.786382
20858     4.000601
           ...
16977     8.718973
21307    10.098874
2608      6.713109
10244     2.818226
21000     4.084063
Name: cost, Length: 7554, dtype: float64

2.3430121954547483

In [95]:
y_train

0        21.905933
1        12.341214
2         6.601826
3         4.687770
4         3.541561
           ...
30208     5.945260
30209     6.131658
30210     5.066130
30211    18.214141
30212    53.618624
Name: cost, Length: 30213, dtype: float64

In [115]:
scores

{'xgb': 0.25205968588169697,
 'lgbm': 0.24333757332986475,
 'gbr': 0.25420196505763487}

In [117]:
# ensemble_pred = 0.35 * predictions['xgb'] + \
#                 0.35 * predictions['lgbm'] + \
#                 0.3 * predictions['gbr'] + \
#                 0.3 * ridgeCV_pred + \
#                 0.3 * lassoCV_pred + \
#                 0.3 * elasticnetCV_pred

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [83]:
scores

{'xgb': 0.25205968588169697,
 'lgbm': 0.24333757332986475,
 'gbr': 0.25420196505763487}

In [84]:
predictions = make_ensemble(predictions)

## Make Submission to Kaggl

In [85]:
filename = make_csv_file(predictions)
filename

'submission/Caterpillar-1209_11-27-05.csv'

In [86]:
!kaggle competitions submit -c caterpillar-tube-pricing -f submission/Caterpillar-1209_11-27-05.csv -m "2019-12-09 Submission"

100%|█████████████████████████████████████████| 708k/708k [00:06<00:00, 107kB/s]
Successfully submitted to Caterpillar Tube Pricing